/*TOC*/
/*
Global
SECTION 1: Main Body, Global Styles 
SECTION 2: Site Structure

Header and Navigation 
SECTION 3A: Header and Navigation Bar 

Page Specific 
SECTION 4A: Photographer Page

Component Specific
SECTION 5A: Photo List
SECTION 5B: Photo Card

Site Defaults
SECTION 6A: CSS defaults  
SECTION 6A: Buttons
SECTION 6B: Warning and Error Text	
SECTION 6C: Fonts				

*/

/****************************************************
SECTION 1: Main Body, Global Styles
*****************************************************/
html {	
	height: 100%;
	background-color: white;	    		
}


/****************************************************
SECTION 2: Site Structure
*****************************************************/
#site-wrapper {
	width: 98%;
	max-width: 1440px;
	overflow: auto;	
	margin: 68px auto 0px auto;
  min-height: 400px;
}

#widget-container {	
	min-height: 100px;
  overflow: auto;	
	width: 600px;
	margin: 12px auto 0px auto;
}


@media (max-width: 1000px) {
	#widget-container{
		overflow: auto;	
	}
} 

@media (max-width: 600px) {
	#widget-container{
		width: 90%;
    margin-left: 5%;
		overflow: auto;	
		min-width: 400px;
	}
} 


/****************************************************
SECTION 3: Header and Navigation Bar 
*****************************************************/
header {
  position:fixed;
  top: 0px;
  background-color: #343A40;		
  background-color: #FFFFFF;	
  width: 100%;	
  height: 68px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);	
  z-index: 10;
}


/****************************************************
SECTION 4A: Photographer Page
*****************************************************/
.photo-app {
  float: left;
  width: 99%;
  min-height: 120px;
  overflow: auto;
  border: 1px solid black;
}

/****************************************************
SECTION 5A: Photo Search
*****************************************************/
.search {
  float: left;
  width: 100%;
  min-height: 120px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.search-holder {
  float: left;
  width: 100%;
  min-height: 74px;
  border-bottom: 1px solid black;
}

.search-input-holder {
  float: left;
  width: 100%;
  min-height: 40px;
}

.search-error-holder {
  float: left;
  width: 90%;
  margin-left: 5%;
  min-height: 28px; 
}


/****************************************************
SECTION 5B: Photo List
*****************************************************/
.photo-list {
  float: left;
  margin-top: 40px;
  width: 100%;
  min-height: 60px;
}


/****************************************************
SECTION 5C: Photo Card
*****************************************************/
.card {
  float: left;
  width: 100%;
  min-height: 60px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 12px;
  background-color: #f2f2f2;
}

.avatar {
  float: left;
  margin: 0px;
  width: 100px;
  height: 100px;
}

.avatar-image {
  max-width: 100%;
  max-height: 100%;
}

.name {
  float: left;
  margin: 0px;
  width: 78%;
  height: 50px;
  border-bottom: 1px solid black;
}

.location {
  float: left;
  margin: 0px;
  width: 78%;
  height: 48px;
  border-bottom: 1px solid black;
}

.events {
  float: left;
  margin: 0px;
  clear: both;
  width: 100%;
  min-height: 40px;
}

.event-list{
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

.event-list > li {
	display: inline-block;
  padding-left: 12px;
}


/****************************************************
SECTION 6A: CSS defaults  
*****************************************************/
.input-search {
  float: left;
  height: 22px;
  margin-top: 8px;
  margin-left: 10%;
  width: 80%;
}

.input-label {
  float: left;
  margin-top: 12px;
  margin-left: 10%;
}


/****************************************************
SECTION 6A: Buttons
*****************************************************/
.button-submit {
  float: left;
  height: 32px;
  margin-top: 8px;
  margin-left: 10%;
  width: 80%;
}

/****************************************************
SECTION 6B: Warning and Error Text
*****************************************************/
.error-text {
  color: #b30000;
  margin: 2px;
  padding: 2px;
}


/****************************************************
SECTION 6C: Text and Fonts	
*****************************************************/
.text-card{
  margin: 4px;
  padding: 4px;
}